@model IEnumerable<Postgres.ASP.Net.Core.Models.Cliente>
@{
    ViewData["Title"] = "Cliente";
}

<h1>Index</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Codigo)</th>
                <th>@Html.DisplayNameFor(model => model.First().Cedula)</th>
                <th>@Html.DisplayNameFor(model => model.First().Apellidos)</th>
                <th>@Html.DisplayNameFor(model => model.First().Nombres)</th>
                <th>@Html.DisplayNameFor(model => model.First().fechaNacimiento)</th>
                <th>@Html.DisplayNameFor(model => model.First().Mail)</th>
                <th>@Html.DisplayNameFor(model => model.First().Telefono)</th>
                <th>@Html.DisplayNameFor(model => model.First().Direccion)</th>
                <th>@Html.DisplayNameFor(model => model.First().Estado)</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                    <td>@Html.DisplayFor(modelItem => item.fechaNacimiento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mail)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Codigo }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Codigo })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo Cliente</a>
    </div>
</div>
